@import "./styles-colors.scss";

.sidebar {
    width: 100%;
    height: 100vh;
    background-color: #f8f9fa;
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.2);

    .logoContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logoBimbo {
        width: 8rem;
    }

    .navLinkContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;

        .ulContainer {
            height: auto;

            @media (min-width: 768px) {
                height: 50%;
            }
        }

        .navItem {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .navLink {
            padding: 0.75rem 1rem;
            color: $colorNegroLetra;
            transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;

            &:hover {
                background-color: $colorAzulHover;
                color: $colorBlanco;
                transform: scale(1.1);
            }

            &.active {
                background-color: $colorAzulHover; // Color de fondo para el enlace activo
                color: $colorBlanco; // Color del texto para el enlace activo
                font-weight: bold;
            }
        }
    }

    @media (min-width: 768px) {}
}